---
import Layout from "../layouts/layout.astro";
---
<Layout title="Home">
	<div class="container max-w-screen-sm mx-auto flex justify-center dark:text-white">
		<div class="my-auto">
			<h1 class="font-mono text-2xl">Work In Progress</h1>
			<p>This site is a work in progress, come back soon!</p>
		</div>
	</div>
</Layout>